<div class="modal-header">
    <h4 class="modal-title">{{'login.session_expired' | translate}}</h4>
    <!--
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    -->
</div>
<div class="modal-body">
    <app-login-form (onCancel)="onCancel()" (onSuccess)="onSuccess()"></app-login-form>
</div>

<div class="modal-footer">
 <!--   <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>-->
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-pulse"></ngx-spinner>