<div>
  <header class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = true">{{'header.main_title' | translate}}</a>

      <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
        <ul class="navbar-nav ml-auto">
          <li ngbDropdown class="nav-item dropdown">
            <div class="nav-link dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle id="dropdownLanguage">
              {{(commonState$ | async).language}}
              <span class="caret"></span>
            </div>
            <div ngbDropdownMenu aria-labelledby="dropdownLanguage" id="dropdownLanguages">
              <div class="dropdown-item" *ngFor="let lang of (commonState$ | async).allLanguages" (click)="setLanguage(lang)">
                {{lang}}
              </div>
            </div>
          </li>

          <li *ngIf="!(authState$ | async).valid" class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/login']" (click)="navbarCollapsed = true">{{'header.login' | translate}}</a>
          </li>
          <li *ngIf="!(authState$ | async).valid" class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/um/createAccount']" (click)="navbarCollapsed = true">{{'header.sign_up' | translate}}</a>
          </li>

          <li *ngIf="(authState$ | async).valid" ngbDropdown class="nav-item dropdown">
              <div class="nav-link dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle id="dropdownAccount">
                  {{(authState$ | async).username}}
                <span class="caret"></span>
              </div>
              <div ngbDropdownMenu aria-labelledby="dropdownAccount" id="dropdownAccountMenu">
                <a class="dropdown-item" [routerLink]="['/um/profile']">{{'header.profile' | translate}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">{{'header.logout' | translate}}</a>
              </div>
            </li>
          <!--
                <li class="nav-item" [routerLinkActive]="['active']">
                  <a class="nav-link" [routerLink]="['/components']" (click)="navbarCollapsed = true">Components</a>
                </li>
              -->
        </ul>
      </div>
    </div>
  </header>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-pulse"></ngx-spinner>