@import "tailwindcss";
@plugin "daisyui" {
  prefix: dui-;
  themes: light, dark --prefersdark, pastel, fantasy --default;
}
@source "./src/**/*.rs";

body {
	font-family: sans-serif;
	text-align: center;
}
