0.0.0.0

log stdout
errors stdout
gzip
root /dist

proxy /api backend:8080

cache

# Enable Angular HTML5 mode
rewrite {
    if {path} not_match ^(/api/|/assets/)
    to {path} {path}/ /
}

header /api/ {
	Cache-Control "no-store, no-cache, private"
	Pragma "no-cache"
}
