<div>
    <div class="text-center mb-5">
        <h2>Login</h2>
    </div>
    <form #loginForm="ngForm">
        <div *ngIf="submitError" class="text-danger text-center">
            <span>{{'login.form.submit_error' | translate}}</span>
        </div>
        <div class="form-group">
            <label for="username">{{'login.form.username' | translate}}</label>
            <input type="text" class="form-control" placeholder="{{'login.form.username' | translate}}" [(ngModel)]="model.username"
                name="username" id="username" #username="ngModel" required>
            <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                {{'login.form.username_error_required' | translate}}
            </div>
        </div>
        <div class="form-group">
            <label for="password">{{'login.form.password' | translate}}</label>
            <input type="password" class="form-control" placeholder="{{'login.form.password' | translate}}" [(ngModel)]="model.password"
                name="password" id="password" #password="ngModel" required>
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                {{'login.form.password_error_required' | translate}}
            </div>
        </div>
        <div class="row text-right">
            <div class="col-12">
                <button type="button" class="btn btn-outline-dark" (click)="cancelLogin()">{{'login.form.cancel' | translate}}</button>
                <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary ml-1" (click)="submitLogin()">{{'login.form.submit' | translate}}</button>
            </div>
        </div>
    </form>
</div>